.login-page-background{
    background-image: url("../asset/loginWeb.png");
}

.login-page-modal{
    background-color:white;
    margin:auto;
    margin-top:20%;
    width: 50%;
    height: 50%;
    border-radius: 20pt;
    text-align: center;
}

.register-page-modal{
    background-color:white;
    margin:auto;
    margin-top:20%;
    width: 50%;
    height: 60%;
    border-radius: 20pt;
    text-align: center;
}

.login-page-title{
    color:black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
}

.login-page-titleBorder{
    color: black;
    border: solid rgba(232, 114, 114, 0.88) 2px;
    width: 30%;
    margin: auto;
    margin-bottom: 10%;
}

.login-page-field{
    border-radius: 10pt;
    border-style: none;
    width: 80%;
    height: 32px;
    padding-left: 3%;
    margin-right: 10%;
    margin-top:5px;
    box-shadow: 0px 0px 5px grey;
}

.login-page-field:focus{
    outline: none;
}

.login-page-icon{
    background-color: rgba(232, 114, 114, 0.88);
    margin-left: 50px;
    padding-top:10%;
    height: 50;
    width: 50;
    border-radius: 50%;
    box-shadow: 0px 0px 5px grey;
}

.login-page-usernameContainer{
    margin-bottom:5%;
}

.login-page-passwordContainer{
    margin-bottom:5%;
}

.login-page-emailContainer{
    margin-bottom:5%;
}

.login-page-retypePassword{
    margin-bottom: 5%;
}

.login-page-loginButton{
    background-color: rgba(232, 114, 114, 0.88);
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 100px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.login-page-loginButton:hover{
    background-color: white;
    border: none;
    color: rgba(232, 114, 114, 0.88);
    font-weight: bold;
    height: 40px;
    width: 100px;
}

.login-page-loginButton:focus{
    outline:none;
}

.login-page-registerButton{
    background-color: white;
    border: none;
    color: rgba(232, 114, 114, 0.88);
    font-weight: bold;
    height: 40px;
    width: 100px;
    transition: 0.3s;
}

.login-page-registerButton:focus{
    outline:none;
}

.dashboard-welcome-user{
    color:white;
    margin-bottom:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

.login-page-errorMessage{
    margin: auto;
    width: 400;
    padding-top: 10;
    padding-bottom: 10;
    box-shadow: 0px 0px 4px red;
    border-radius: 10px;
}

.passenger-detail-bold{
    font-weight: bold;
    font-size: 18px;
    margin-right: 15px;
}

.imgPreview{
    /* background-color:black; */
    width: 600px;
    height: 600px; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.previewContainer{
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    margin-right: 20px;
    border-radius: 20px;
}

.previewHeader{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top:10px;
    border-radius: 17px 17px 0px 0px;
    background-color: rgba(232, 114, 114, 0.88);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.headerText{
    color:white;
    /* color:rgb(0, 38, 87); */
    font-weight: bold;
    font-size: 18px;
}

.actionContainer{
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    margin-left: 20px;
    width: 550px;
    position: relative;
}

.docLinkApproval{
    padding-left: 30px;
    padding-right: 30px;
    margin-top:10px;
}

.perLinkApproval{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: rgba(128, 128, 128, 0.5) solid 2px;
    border-radius: 20px;
    padding-left: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.3s;
}

.iconApproval{
    color: rgba(232, 114, 114, 0.88);
}

.linkLabelApproval{
    margin-left: 20px;
    color: black;
    font-weight: bold;
}

.perLinkApproval:hover{
    background-color: rgba(232, 114, 114, 0.88);
}

.perLinkApproval:hover .iconApproval{
    color: white;
}

.perLinkApproval:hover .linkLabelApproval{
    color: white;
}

.buttonContainerApproval{
    width: 550px;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.approveButton{
    border-radius: 20px;
    height: 50px;
    width: 150px;
    background-color: rgb(64, 128, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.approveButtonLabel{
    color:white;
    font-weight:bold
}

.approveButton:hover{
    background-color: white;
}

.approveButton:hover  .approveButtonLabel{
    color:rgb(64, 128, 0);
}

.deleteButton{
    border-radius: 20px;
    height: 50px;
    width: 150px;
    background-color: rgb(151, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.deleteButtonLabel{
    color:white;
    font-weight:bold;
}

.deleteButton:hover{
    background-color: white;
}

.deleteButton:hover .deleteButtonLabel{
    color: rgb(151, 0, 0);
}

.emailButton{
    border-radius: 20px;
    height: 50px;
    width: 150px;
    background-color: rgb(9, 0, 136);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.emailButtonLabel{
    color:white;
    font-weight:bold;
}

.emailButton:hover{
    background-color: white;
}

.emailButton:hover .emailButtonLabel{
    color: rgb(9, 0, 136);
}

.modalContainer{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 20%; /* Could be more or less, depending on screen size */
    height: 15%;
    position: relative;
    border-radius: 20px;
}

.modalCloseButton{
    background-color: rgba(232, 114, 114, 0.88);
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.modalCloseButton:hover{
    background-color: white;
}

.modalCloseText{
    color:white;
    font-weight: bold;
}

.modalCloseButton:hover .modalCloseText{
    color:rgba(232, 114, 114, 0.88);
}


.modalYesButton{
    background-color: rgb(64, 128, 0);
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.modalYesButton:hover{
    background-color: white;
}

.modalYesText{
    color:white;
    font-weight: bold;
}

.modalYesButton:hover .modalYesText{
    color:rgb(64, 128, 0);
}

.modalDeleteButton{
    background-color: rgb(151, 0, 0);
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.modalDeleteText{
    color:white;
    font-weight: bold;
}

.modalDeleteButton:hover{
    background-color: white;
}

.modalDeleteButton:hover .modalDeleteText{
    color: rgb(151, 0, 0);
}